# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/
.venv/

# =========================
# Django
# =========================
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Static & Media
staticfiles/
media/

# =========================
# Environment Variables
# =========================
.env
.env.*

# =========================
# IDE / Editor
# =========================
.vscode/
.idea/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Pytest / Coverage
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# Migrations (optional)
# Uncomment if needed
# =========================
# */migrations/*
# !*/migrations/__init__.py

# =========================
# Celery
# =========================
celerybeat-schedule
celerybeat.pid

# =========================
# Gunicorn
# =========================
gunicorn.pid

# =========================
# Temporary files
# =========================
*.swp
*.swo