{% load static %}

<footer class="footer">

<div class="container">

<!-- SOCIAL ICONS -->

<div class="footer-social">

<a href="https://wa.me/919152199992" target="_blank" rel="noopener noreferrer"><i class="fab fa-whatsapp"></i></a>

<a href="#"><i class="fab fa-linkedin-in"></i></a>

<a href="https://www.youtube.com/@BIMIWORLDWIDE"><i class="fab fa-youtube"></i></a>

<a href="#"><i class="fab fa-instagram"></i></a>

</div>


<hr class="footer-divider">


<div class="footer-grid">

<!-- PRODUCTS -->

<div class="col">

<h4>PRODUCTS</h4>

<a href="/products-list/3/">Agriculture</a>
<a href="/products-list/9/">Furniture</a>
<a href="/products-list/9/">Handicrafts</a>
<a href="/products-list/8/">Rugs</a>
<a href="/products-category/">Packaging</a>
<a href="/products-list/10/">Battery</a>

</div>


<!-- COMPANY -->

<div class="col">

<h4>COMPANY</h4>

<a href="/about/">About Us</a>
<a href="{% url 'why_us' %}">Why Us</a>
<a href="/about/">Mission</a>
<a href="/about/">Vision</a>

</div>


<!-- RESOURCES -->

<div class="col">

<h4>RESOURCES</h4>

<a href="/blogs/">Blog</a>
<a href="/blogs/">News</a>
<a href="/blogs/">Events</a>

</div>


<!-- CONTACT -->

<div class="col">

<h4>CONTACT</h4>

<a href="/contact/">Contact Us</a>

</div>

</div>


<div class="bottom">

© 2026 Bimi Worldwide. All rights reserved.

</div>

</div>

</footer>