{% load static %}

<footer class="footer">

<div class="container">

<!-- SOCIAL ICONS -->

<div class="footer-social">

<a href="#"><i class="fab fa-facebook-f"></i></a>

<a href="#"><i class="fab fa-linkedin-in"></i></a>

<a href="#"><i class="fab fa-youtube"></i></a>

<a href="#"><i class="fab fa-instagram"></i></a>

</div>


<hr class="footer-divider">


<div class="footer-grid">

<!-- PRODUCTS -->

<div class="col">

<h4>PRODUCTS</h4>

<a href="#">Agriculture</a>
<a href="#">Furniture</a>
<a href="#">Handicrafts</a>
<a href="#">Rugs</a>
<a href="#">Packaging</a>
<a href="#">Battery</a>

</div>


<!-- COMPANY -->

<div class="col">

<h4>COMPANY</h4>

<a href="#">About Us</a>
<a href="#">Mission</a>
<a href="#">Vision</a>
<a href="#">Leadership</a>

</div>


<!-- RESOURCES -->

<div class="col">

<h4>RESOURCES</h4>

<a href="#">Blog</a>
<a href="#">News</a>
<a href="#">Events</a>

</div>


<!-- CAREERS -->

<div class="col">

<h4>CAREERS</h4>

<a href="#">Job Search</a>
<a href="#">Graduate Programs</a>
<a href="#">Culture</a>

</div>


<!-- CONTACT -->

<div class="col">

<h4>CONTACT</h4>

<a href="#">Locations</a>
<a href="#">Support</a>
<a href="#">Contact Us</a>

</div>

</div>


<div class="bottom">

© 2026 Bimi Worldwide. All rights reserved.

</div>

</div>

</footer>