{% load static %}

<header class="header">

<div class="container nav">

<div class="logo">

<img src="{% static 'images/logo.png' %}" class="logo-default">

<img src="{% static 'images/logo-2.png' %}" class="logo-scroll">

</div>

<nav class="menu">

<a href="{% url 'home' %}" class="active">Home</a>

<a href="{% url 'about' %}">About Us</a>

<a href="{% url 'products_category' %}">Products</a>

<a href="{% url 'blog_list' %}">Blogs</a>

<a href="{% url 'contact_form' %}">Contact Us</a>

</nav>

<a href="{% url 'contact_form' %}" class="btn-demo">Request Call</a>

<div class="nav-toggle" id="navToggle">

<span></span>

</div>

</div>

<nav class="mobile-menu" id="mobileMenu">

<b><a href="{% url 'home' %}" class="active">Home</a></b>

<b><a href="{% url 'about' %}">About Us</a></b>

<b><a href="{% url 'products_category' %}">Products</a></b>

<b><a href="{% url 'blog_list' %}">Blogs</a></b>

<b><a href="{% url 'contact_form' %}">Contact Us</a></b>

</nav>

</header>

<!-- ================= HEADER / NAVBAR END ================= -->